{
	"rules": {
		"no-tabs": 0,
		"indent": ["error", "tab"]
	},
	"env": {
		"browser": true,
		"node": true,
		"es6": true
	},
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module"
	}
}
