<!DOCTYPE html>
<html lang="{{ page.lang }}" dir="{{ languages[page.lang].dir or 'ltr' }}">
	<head>
		<title>Eleventy Starter Kit</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="{{ '/assets/styles/main.css' | url }}">

	</head>

	<body class="lang-{{ lang }}">
		{% iconsprite %}

		{% include "partials/header.njk" %}

		<main id="main-content" class="main-content">
			{{ content | safe }}
		</main>

		{% include "partials/footer.njk" %}

		<script defer src="{{ '/assets/scripts/main.js' | url }}"></script>
	</body>

</html>
