---
layout: default
lang: en
---

<header>
	<div class="icons">
		{% icon "gear" %}
		{% icon "check-circle" %}
		{% icon "plugin" %}
	</div>
	<h1>Hello world!</h1>
	<h2>This is a simple Eleventy (11ty) Starter Kit</h2>
</header>


{% image
	"./src/assets/img/alin-andersen-f0SgAs27BYI-unsplash.jpg",
	"photo of Alin Andersen of a Mountain on Austria",
	"hero-image wide-width",
	"(min-width: 30em) 50vw, 100vw"
%}

<p>In the realm of code, where the digital dreams knit,
	Lies a tool of power, the Eleventy Starter Kit.
	A beacon for builders in the web's vast expanse,
	It guides their creations with a steady, guiding glance.</p>

{# Loop of Posts in posts folder #}
<section>
	{% for post in collections.post %}
	<article>
		<a href="{{ post.url }}">{{ post.data.title }}</a>
	</article>
	{% endfor %}
</section>

<cite>By Abel Cabans :)</cite>
