$font-family-sans-serif: system-ui, -apple-system, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$primary: hsl(48, 100%, 50%);
$background: lightgray;

:root {
  --size-sm: clamp(0.7502rem, 0.7176rem + 0.1631vi, 0.844rem);
  --size-md: clamp(1rem, 0.9565rem + 0.2174vi, 1.125rem);
  --size-lg: clamp(1.333rem, 1.275rem + 0.2898vi, 1.4996rem);
  --size-xl: clamp(1.7769rem, 1.6996rem + 0.3863vi, 1.999rem);
  --size-2xl: clamp(2.3686rem, 2.2656rem + 0.5149vi, 2.6647rem);
  --size-3xl: clamp(3.1573rem, 3.0201rem + 0.6864vi, 3.552rem);
  --size-4xl: clamp(4.2087rem, 4.0257rem + 0.9149vi, 4.7348rem);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
}

body {
	font-family: $font-family-sans-serif;
	line-height: 1.5;
	background-color: $background;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2vh;
	text-align: center;
}

p {
	margin-block: 0;
	text-wrap: balance;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 42rem;
	text-wrap: balance;
	text-align: center;
	margin-inline: auto;
	gap: 0.5rem;
}

h1 {
	font-size: var(--size-4xl);
	margin-block: 0;
}

h2 {
	font-size: var(--size-xl);
	font-weight: 400;
	color: #444;
	margin-block: 0;
}

h1,
h2 {
	line-height: 1.2;
}

img {
	max-width: 100%;
	height: auto;
}

picture {
	display: block;
	max-width: 100%;

	img {
		display: block;
		width: 100%;
	}
}

nav {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
	position: absolute;
	top: 0;
	left: 0;
	padding: 1rem;
	font-size: var(--size-sm);
}

.visually-hidden {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.icons {
	display: flex;
	justify-content: center;
	gap: 1rem;
	opacity: 0.3;
}

.icon {
	width: 2rem;
	height: 2rem;
}

.bg-primary {
	background-color: $primary;
	padding: 1rem;
}

.main-content {
	display: grid;
	gap: 2rem 0;
	grid-template-columns: 15vw [wide-start] 5vw [content-start] 1fr [content-end] 5vw [wide-end] 15vw;
	font-size: var(--size-md);

	& > * {
		grid-column: content;
	}
}

.wide-width {
	grid-column: wide;
}

.full-width {
	grid-column: full;
	display: grid;
	grid-template-columns: inherit;
}

.main-content > :not(.wide-width, .full-width),
.full-width > :not(.wide-width, .full-width) {
	grid-column: content;
}

.hero-image {
	border-radius: 0.5em;
	overflow: hidden;
}
